<div id="addDialogBox">
   
        <div class="heading"><h1 >EDIT THE DATA</h1></div>
<form id="form" [formGroup]="demo" (ngSubmit)="Edit(demo.value)">
   <div>
    <mat-form-field formArrayName="addarray" *ngFor="let key of keyArray; let i=index">
        <mat-label>{{key}}</mat-label>
        <input matInput placeholder="" [formControlName]="i" [value]='inputArray[i]' >

      </mat-form-field>
      </div>
      <div>
      <button mat-raised-button class="csstoButton" [disabled]='demo.invalid'>Submit</button>
      <button mat-raised-button  class="csstoButton" type="button" (click)="Cancel()">Cancel</button>
    </div>
    </form>
</div>

