<div id="header_container" >
  <mat-toolbar class="small_text">
    <span class="space"></span>
    <span><mat-icon>phone</mat-icon>1800-678-449</span>
  
    
        
   
  </mat-toolbar>  
  <mat-toolbar id="titlebar" >  
        <mat-toolbar-row>
          
          <span class="space"></span>

          <span class="space"></span>
        
          <span *ngIf="tokenid!='-1' && !tokenid">
            <button mat-raised-button type='button' (click)='signOut()'>Sign Out</button>
          </span>
            <span *ngIf="tokenid=='-1' && tokenid">
             <a routerLink='/userPlan'>
              <mat-icon>person</mat-icon>
            </a> </span>
        
        </mat-toolbar-row>
      
     
      </mat-toolbar>
</div>