<div id="addDialogBox">
   
<div class="heading"><h1 >ADD NEW DATA</h1></div>
<form id="form" [formGroup]="demo" (ngSubmit)="Add(demo.value)">
   <div>
    <mat-form-field formArrayName="addarray" *ngFor="let key of keyArray; let i=index">
        <mat-label>{{key}}</mat-label>
        <input matInput placeholder="" [formControlName]="i" >
    
      
      </mat-form-field></div>
      <div>
      <button mat-raised-button  class="csstoButton" [disabled]="!demo.valid">Submit</button>
      <button mat-raised-button  type="button" class="csstoButton" (click)="Cancel()">Cancel</button>
    </div>
</form>

</div>

